<%= form_with url: properties_path, method: :get, local: true, class: "form-inline my-2 my-lg-0" do %>
  <%= text_field_tag :query, params[:query], placeholder: t('home.search'), class: "form-control mr-sm-2", style: "width: 400px;" %>
  <%= submit_tag t('action.search'), class: "btn btn-outline-success my-2 my-sm-0" %>
<% end %>

<br>
<br>

<h1>Listed Properties</h1>

<% @properties.each do |property| %>
  <div>
    <h2><%= link_to property.title, property_path(property) %></h2>
    <p>Rent: <%= property.price %> | City: <%= property.city %></p>
    <% if property.images.present? %>
      <% property.images.first(3).each do |image| %>
        <%= link_to image_tag(image, size: "200x200"), url_for(image), target: "_blank" %>
      <% end %>
    <% end %>
  </div>
  <br>

<% end %>