<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to 'NestFinder', root_path, class:"navbar-brand" %>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item">
        <%= link_to t('menu.about'), home_about_path, class:"nav-link" %>
      </li>

      <% if user_signed_in? %>

        <li class="nav-item">
          <%= link_to t('menu.sign_out'), destroy_user_session_path, method: :delete, class:"nav-link", data: { turbo_method: :delete } %>
        </li>

        <li class="nav-item">
          <%= link_to t('menu.edit_profile'), edit_user_registration_path, class:"nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to t('menu.property_owners'), owner_dashboard_properties_path, class:"nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path, class:"nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Sign In", new_user_session_path, class:"nav-link" %>
        </li>
      <% end %>
    </ul>

    <%= form_with url: update_language_path, method: :patch, remote: true, id: "language_form" do %>
      <%= select_tag 'language', options_for_select([['English', 'en'], ['French', 'fr']], I18n.locale), onchange: "this.form.submit()" %>
    <% end %>
  </div>
</nav>
