<% if @agreement.errors.any? %>
  <div id="error_explanation">
    <h4><%= pluralize(@agreement.errors.count, "error") %> prohibited this agreement from being saved:</h4>

    <ul>
      <% @agreement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>



<%= form_with(model: [@property, @agreement], local: true) do |form| %>
  <div class="form-group">
    <%= form.label :rent_amount %>
    <%= form.number_field :rent_amount, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= form.label :maintenance_amount %>
    <%= form.number_field :maintenance_amount, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= form.label :deposit_amount %>
    <%= form.number_field :deposit_amount, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= form.label :tenant_name %>
    <%= form.text_field :tenant_name, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= form.label :tenant_email %>
    <%= form.email_field :tenant_email, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= form.label :start_date %>
    <%= form.date_select :start_date, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= form.label :end_date %>
    <%= form.date_select :end_date, class: 'form-control', required: true %>
  </div>

  <!-- Owner signature (initially disabled) -->
  <div class="form-group">
    <%= form.label :owner_signature, "Sign with your full name:" %>
    <%= form.text_field :owner_signature, id: 'owner_signature', required: true %>
  </div>

  <!-- Action buttons -->
  <div class="actions">
    <%= form.submit 'Save as Draft', class: 'btn btn-primary' %>
    <%= form.submit 'Send to Tenant', class: 'btn btn-primary', id: 'send-to-tenant-btn' %>
  </div>

<% end %>

