<p><strong>Owner:</strong> <%= @agreement.owner.email %></p>
<p><strong>Tenant:</strong> <%= @agreement.tenant.email %></p>

<% if @agreement.property.present? %>
  <p><strong>Property:</strong> <%= @agreement.property.title %> - <%= @agreement.property.address_line_1 %></p>
<% else %>
  <p><strong>Manual Property Address:</strong> <%= @agreement.manual_property_address %>, <%= @agreement.manual_property_city %>, <%= @agreement.manual_property_postal_code %></p>
<% end %>

<p><strong>Start Date:</strong> <%= @agreement.start_date %></p>
<p><strong>End Date:</strong> <%= @agreement.end_date %></p>
<p><strong>Property Type:</strong> <%= @agreement.property_type.humanize %></p>
